[Unit]
Description=Tdarr Node
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStartPre=/bin/sleep 60
ExecStartPre=-/usr/bin/podman rm -f tdarr-node
ExecStart=/usr/bin/podman run --name tdarr-node \
  --network bridge\
  -e TZ=Europe/Rome \
  -e PUID=1000 -e PGID=1000 \
  -e UMASK_SET=002 \
  -e nodeName=Workstation \
  -e serverIP=10.212.50.2 \
  -e serverPort=8266 \
  -e inContainer=true \
  -e ffmpegVersion=7 \
  -e nodeType=mapped \
  -e priority=-1 \
  -e maxLogSizeMB=10 \
  -e pollInterval=2000 \
  -e startPaused=false \
  -e transcodegpuWorkers=3 \
  -e transcodecpuWorkers=0 \
  -e healthcheckgpuWorkers=0 \
  -e healthcheckcpuWorkers=4 \
  -e NVIDIA_DRIVER_CAPABILITIES=all \
  -e NVIDIA_VISIBLE_DEVICES=all \
  --gpus=all \
  -v /srv/tdarr/configs:/app/configs \
  -v /srv/tdarr/logs:/app/logs \
  -v /media:/media \
  -v /srv/tdarr/transcode-cache:/temp \
  ghcr.io/haveagitgat/tdarr_node:latest
ExecStop=/usr/bin/podman stop tdarr-node

[Install]
WantedBy=multi-user.target
